:root {
    --main-light-color: #ffffff;
    --main-dark-color: #3e2a36;
    --main-violet-color: #390d66;
    --main-light-violet-color: #5a288f;
    --main-gray-color: #9e9c9c;
    --main-dark-gray-color: #514c4c;
    --main--green-color: #31a590;
    --gradient-main: linear-gradient(216.06deg, #74067d 21.07%, #19e7da 105.09%);
    --gradient-card: linear-gradient(0deg, #2abfbf 0%, rgba(255, 255, 255, 0) 60.16%);
    --gradient-form: linear-gradient(90deg, #7462d1 0%, #3de1e2 100%);
    --gradient-form-mob: linear-gradient(175.71deg, #7365d2 27.27%, #46cde0 61.14%);
    --gradient-line-two: linear-gradient(89.68deg, #50067d -1.71%, #19e7da 107.28%);
    --gradient-line-one: linear-gradient(270.08deg, #50067d -35.54%, #61fff6 98.12%);
    --gradient-event-btn: linear-gradient(216.06deg, #ffffff 21.07%, #19e7da 105.09%);
    --gradient-fashion: linear-gradient(90deg, #d162c6 0%, #351396 100%);
    --gradient-fashion-mob: linear-gradient(175.71deg, #CA5FC4 27.27%, #7031A8 61.14%);
    --gradient-fashion-line-two: linear-gradient(89.68deg, #50067d -1.71%, #e3adf5 107.28%);
    --gradient-business: linear-gradient(90deg, #e737be 0%, #42f1cd 100%);
    --gradient-business-mob: linear-gradient(175.71deg, #E737BE 0.87%, #19E7DA 96.51%);
    --gradient-business-line-two: linear-gradient(89.68deg, #42f1cd -1.71%, #f4ff2a 107.28%);
}


.header__container-inner .menu__btn span,
.header__container-inner .menu__btn.active .open {
    background: var(--main-light-color);
}

.header__container-inner .menu__btn .close {
    color: var(--main-violet-color);
}

.header__container-inner .menu__btn .close svg,
.header__container-inner .menu__btn .open svg {
    fill: var(--main-violet-color);
}

#event .menu__btn:hover .open,
#event .menu__btn:hover .close,
#event .arrow__btn-list li:hover,
#event .arrow__btn-list li:focus,
#event .btn-inner .main__btn:hover {
    background: var(--gradient-main);
    color: var(--main-light-color);
}


#fashion .menu__btn:hover .open,
#fashion .menu__btn:hover .close,
#fashion .arrow__btn-list li:hover,
#fashion .arrow__btn-list li:focus,
#fashion .btn-inner .main__btn:hover {
    background: var(--gradient-fashion);
    color: var(--main-light-color);
}

#business .menu__btn:hover .open,
#business .menu__btn:hover .close,
#business .arrow__btn-list li:hover,
#business .arrow__btn-list li:focus,
#business .btn-inner .main__btn:hover {
    background: var(--gradient-business);
    color: var(--main-light-color);
}

.header__container-inner .menu__btn:hover .open svg,
.header__container-inner .menu__btn:hover .close svg {
    fill: var(--main-light-color);
}

.header__container-inner .menu__btn:hover .close {
    color: var(--main-light-color);
}

#event .menu.active,
#event header.active {
    background: #10023d
}

#fashion .menu.active,
#fashion header.active {
    background: #842086;
}

#business .menu.active,
#business header.active {
    background: #252525;
}

.menu__dark .menu__list li {
    border-color: var(--main-light-color);
}

.menu__dark .menu__list a {
    color: var(--main-light-color);
}

.menu__dark .menu__list li svg {
    fill: var(--main-light-color);
}

#event .menu__list li:hover,
#event .menu__list li:focus {
    background: linear-gradient(0deg, #E030E3 11.13%, rgba(255, 255, 255, 0) 66.5%);
}

#fashion .menu__list li:hover,
#fashion .menu__list li:focus {
    background: linear-gradient(0deg, #3C2685 0%, rgba(255, 255, 255, 0) 60.16%);
}

.menu__dark .menu__list li:hover a,
.menu__dark .menu__list li:focus a {
    color: var(--main-light-color);
}


.title__label-white,
.title__white,
.hero__container-inner .base__text-secondary {
    color: var(--main-light-color);
}

.hero__container-inner .main__btn {
    color: #252525;
    text-transform: uppercase;
    background: var(--gradient-event-btn);
}

.hero__container-inner .main__btn:hover {
    background: linear-gradient(16.06deg, #ffffff 21.07%, #19e7da 105.09%);
}

#fashion .hero__container-inner .main__btn {
    color: #69116B;
    background: var(--main-light-color);
}

#fashion .hero__container-inner .main__btn:hover {
    background: linear-gradient(29.06deg, #ffffff 21.07%, #E737BE 90.09%);
}

#event .hero .main__btn::after {
    background: #150810;
}

#fashion .hero .main__btn::after {
    background: #8E40B2;
}

#business .hero .main__btn::after {
    background: #31A590;
}

#event .hero__right-part img {
    max-width: 582px;
}

#fashion .hero__right-part img {
    max-width: 645px;
}

#business .hero__right-part img {
    max-width: 803px;
}

#fashion .form-communication__wrap {
    background: var(--gradient-fashion-mob);
}

#business .form-communication__wrap {

    background: var(--gradient-business-mob);
}

.specialties__container {
    padding-bottom: 155px;
}

.specialties__container .title__wrap {
    margin-bottom: 30px;
}

.specialties__item {
    position: relative;
    width: 304px;
    height: 524px;
    border-radius: 30px;
}

.specialties__item img {
    width: 304px;
    height: 524px;
    object-fit: cover;
    border-radius: 30px;
}

.specialties__slider .slick-slide > div {
    width: 304px;
    height: 524px;
    margin: 0 auto;
}

.specialties__item .overlay__text {
    text-align: start;
    padding-bottom: 30px;
}

.specialties__item .overlay__text p {
    font-weight: 500;
    font-size: 25px;
    color: var(--main-light-color);
}

.specialties__item .overlay__text span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
}

#fashion .overlay {
    background: linear-gradient(355.56deg, #6C2ABF 26.16%, rgba(255, 255, 255, 0) 59.48%);
}

#business .slick-slide:nth-child(3n + 1) div .specialties__item .overlay {
    background: linear-gradient(355.69deg, #F4FF2A 25.44%, rgba(255, 255, 255, 0) 57.84%);
}

#business .slick-slide:nth-child(3n + 2) div .specialties__item .overlay {
    background: linear-gradient(355.56deg, #E737BE 26.16%, rgba(255, 255, 255, 0) 59.48%);
}

#business .slick-slide:nth-child(3n + 3) div .specialties__item .overlay {
    background: linear-gradient(355.56deg, #42F1CD 26.16%, rgba(255, 255, 255, 0) 59.48%);
}

#business .specialties__item .overlay__text p,
#business .specialties__item .overlay__text span {
    color: #000000;
}

.profession__item {
    width: 100%;
    max-width: 1317px;
    height: 597px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-bottom: 31px;
}

#event .profession__item:first-child {
    background-image: url(./images/dig-card.png);
}

#event .profession__item:nth-child(2) {
    background-image: url(./images/dig-card2.png);
}

#event .profession__item:nth-child(3) {
    background-image: url(./images/dig-card3.png);
}

#fashion .profession__item:first-child {
    background-image: url(./images/dig-card-fahion.png);
}

#fashion .profession__item:nth-child(2) {
    background-image: url(./images/dig-card-fahion2.png);
}

#fashion .profession__item:nth-child(3) {
    background-image: url(./images/dig-card-fahion3.png);
}

#business .profession__item:first-child {
    background-image: url(./images/dig-card-busines.png);
}

#business .profession__item:nth-child(2) {
    background-image: url(./images/dig-card-busines2.png);
}

#business .profession__item:nth-child(3) {
    background-image: url(./images/dig-card-busines3.png);
}

.profession__item-overlay {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0 26px 47px 26px;
}

#event .profession__item .profession__item-overlay {
    background: linear-gradient(0deg, #100436 4.84%, rgba(0, 0, 0, 0) 94%);
}

#fashion .profession__item .profession__item-overlay {
    background: linear-gradient(0deg, #231433 4.84%, rgba(0, 0, 0, 0) 94%);
}


#business .profession__item:first-child .profession__item-overlay {
    background: linear-gradient(0deg, #F4FF2A 4.84%, rgba(0, 0, 0, 0) 94%);
}

#business .profession__item:nth-child(2) .profession__item-overlay {
    background: linear-gradient(0deg, #E737BE 18.49%, rgba(0, 0, 0, 0) 97.72%);
}

#business .profession__item:nth-child(3) .profession__item-overlay {
    background: linear-gradient(0deg, #42F1CD 2.27%, rgba(0, 0, 0, 0) 96.88%);
}

.profession__item-text {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: end;

}

.profession__title {
    font-weight: 500;
    font-size: 25px;
    color: var(--main-light-color);
    margin-bottom: 20px;
}

.profession__item-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    color: var(--main-light-color);
    margin-bottom: 35px;
}

#business .profession__item:first-child .profession__title,
#business .profession__item:nth-child(3) .profession__title {
    color: #000000;
}

#business .profession__item:first-child .profession__item-text p,
#business .profession__item:nth-child(3) .profession__item-text p {
    color: #000000;
}

.profession__item-text .main__btn {
    color: #0F023A;
}

#event .profession__item-text .main__btn {
    background: linear-gradient(180deg, #D6FFFA 0%, #53EEE4 100%);
}

#fashion .profession__item-text .main__btn {
    background: #D6FFFA;
}

#business .profession__item-text .main__btn {
    background: linear-gradient(216.06deg, #D6FFFA 21.07%, #19E7DA 105.09%);
}

.subjects__container {
    padding-top: 57px;
    padding-bottom: 110px;
}

.subjects__container .title {
    margin-bottom: 39px;
}

.subjects__list {
    list-style: disc;
}

.subjects__list li {
    display: flex;
    align-items: center;
    width: 285px;
    height: 64px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--main-light-color);
    border-bottom: 1px solid #FFFFFF;
    padding-left: 8px;
    margin: 0 auto;
}

.subjects__list li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--main-light-color);
    margin-right: 10px;
}

.subjects__left-part .subjects__list:first-child li:first-child {
    border-top: 1px solid #FFFFFF;
}

.trade__container {
    padding-bottom: 119px;
}

.trade__container .arrow__btn-list {
    justify-content: flex-end;
    margin-bottom: 29px;
}

.trade__slider .slick-slide > div {

    width: 307px;
    height: 373px;
    margin: 0 auto;
}

.trade__item {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 307px;
    height: 373px;
    border-radius: 25px;
    padding: 0 20px;
}

#event .trade__item {
    background: linear-gradient(90deg, #23C1CB 0%, #50067E 100%);

}

#fashion .trade__item {
    background: linear-gradient(90deg, #5423A0 0%, #BB57BF 100%);
}

#business .trade__item {
    width: 100%;
    max-width: 610px;
    height: 373px;

}

#business .trade__item:first-child {
    background: linear-gradient(90deg, #B9963C 0%, #C9C32C 100%);
    margin-bottom: 35px;
}

#business .trade__item:nth-child(2) {
    background: linear-gradient(90deg, #893CB9 0%, #C92C8A 100%);
}

.trade__item p {
    font-weight: 700;
    font-size: 55px;
    color: var(--main-light-color);
    margin-bottom: 35px;
}

.trade__item span {
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    color: var(--main-light-color);
    margin-bottom: 30px;
}

.trade__item .main__btn {
    width: 222px;
    height: 56px;
    background: #F8F4FA;
    color: #561086;
}

#business .trade__item:first-child .main__btn::after {
    background: #978213;
}

#business .trade__item:nth-child(2) .main__btn::after {
    background: #6E1D87;
}

.conditions__container {
    padding-bottom: 67px;
}

.conditions__container .title {
    margin-bottom: 36px;
}

.conditions__item {
    width: 313px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    border: 2px solid var(--main-light-color);
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 66px;
    margin-bottom: 31px;
}

.conditions__item:last-child {
    margin-bottom: 0;
}

.conditions__item p {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color: var(--main-light-color);
    text-align: center;
}

.conditions__item span {
    display: block;
    width: 175px;
    height: 1px;
    margin: 45px auto;
    background-color: var(--main-light-color);
}

.conditions__item ul {
    list-style: disc;
    padding: 0 38px 0 58px;
    margin-bottom: 45px;
}

.conditions__item li {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.53;
    color: var(--main-light-color);
}

.conditions__item li:not(:last-child) {
    margin-bottom: 30px;
}

.conditions__item .main__btn {
    width: 215px;
    height: 56px;
    color: #561086;
    background: #F8F4FA;
    margin: 0 auto;
}

.conditions__item .main__btn::after {
    width: 179px;
    height: 27px;
    background-color: #541E72;
}


#business .conditions__item:first-child {
    border-color: rgba(244, 255, 42, 0.05);
    background: rgba(244, 255, 42, 0.25);

}

#business .conditions__item:nth-child(2) {
    border-color: rgba(66, 241, 205, 0.05);
    background: rgba(66, 241, 205, 0.25);
}

#business .conditions__item:nth-child(3) {
    border-color: rgba(231, 55, 190, 0.05);
    background: rgba(231, 55, 190, 0.25);
}

#business .conditions__item .main__btn::after {

    background-color: #978213;
}

#business .title__label {
    color: var(--main--green-color);
}

.courses__inner .courses__left-part-list li {
    border-color: var(--main-light-color);
    color: var(--main-light-color);
}

.courses__inner .courses__left-part .main__btn {
    color: var(--main-violet-color);
    background-color: var(--main-light-color);
}

#business .courses__inner .courses__left-part .main__btn::after {
    background-color: #71D4F3;
}

#fashion .courses__inner .courses__left-part-list li:hover,
#fashion .courses__inner .courses__left-part-list li.active {
    background: linear-gradient(358.9deg, #2ABFBF 0.94%, #AA2ABF 0.95%, rgba(255, 255, 255, 0) 99.06%);
}

.courses__inner .courses__title {
    color: var(--main-light-color);
}

#fashion .courses__inner .base__text-small,
#business .courses__inner .base__text-small,
.courses__inner .btn__registration {
    color: var(--main-light-color);
}

#fashion .courses__inner .btn__play,
#fashion .video__item .btn__play {
    background: var(--gradient-fashion);
}

#fashion .courses__inner .btn__play:hover,
#fashion .video__item .btn__play:hover {
    background: linear-gradient(270deg, #d162c6 0%, #351396 100%);

}

#business .courses__inner .btn__play,
#business .video__item .btn__play {
    background: linear-gradient(90deg, #3C8CB9 0%, #2CC8C9 100%);
}

#business .courses__inner .btn__play:hover,
#business .video__item .btn__play:hover {
    background: linear-gradient(270deg, #3C8CB9 0%, #2CC8C9 100%);
}

#event .graduates__item .overlay {
    background: linear-gradient(0deg, #3C2685 0%, rgba(255, 255, 255, 0) 60.16%);
}

#fashion .graduates__item .overlay {
    background: linear-gradient(0deg, #E030E3 11.13%, rgba(255, 255, 255, 0) 66.5%);
}

#fashion .graduates__item .overlay__text p,
#business .graduates__item .overlay__text p {
    color: var(--main-light-color);
}

.business__video-container {
    padding-bottom: 33px;
}

.business__video {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #1C1C1B;
    border-radius: 25px;
}

.business__video .btn__play {
    width: 52px;
    height: 52px;
    background: linear-gradient(90deg, #3C8CB9 0%, #2CC8C9 100%);
}

.business__video .btn__play:hover {
    background: linear-gradient(270deg, #3C8CB9 0%, #2CC8C9 100%);
}

.business__video .btn__play img {
    width: 15px;
    height: 15px;
}

.video__aboutus-container {
    padding-bottom: 71px;
}

.video__aboutus-container .title__wrap {
    margin-bottom: 40px;
}

.video__slider .slick-slide > div {
    width: 306px;
    height: 493px;
    margin: 0 auto;
}

.video__item {
    position: relative;
    background-color: var(--main-light-color);
    width: 306px;
    height: 493px;
    border-radius: 15px;
}

#business .video__item .btn__play::after {
    background-color: #31A590;
}

.reviews__container {
    padding-bottom: 61px;
}

.reviews__slider .slick-slide > div {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
}

.reviews__item {
    width: 100%;
    max-width: 375px;
    padding: 0 10px;

}

.reviews__item:first-child {
    margin-bottom: 60px;
}

.reviews__item div {
    width: 89px;
    height: 89px;
    background-color: var(--main-light-color);
    border-radius: 50%;
    margin-bottom: 21px;

}

.reviews__item div img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 50%;
}

.reviews__item p {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: var(--main-light-color);
}

.reviews__container .arrow__btn-list {
    margin-top: 40px;
}

#fashion .ticker .line__one {
    background: var(--gradient-fashion);
}

#fashion .ticker .line__two {
    background: var(--gradient-fashion-line-two);
}

#business .ticker .line__one {
    background: var(--gradient-business);
}

#business .ticker .line__two {
    background: var(--gradient-business-line-two);
}

.hero__bg {
    display: none;
}

.hero__bg-mob {
    position: absolute;
    width: 360px;
    height: 342px;
    top: 245px;
    right: -85px;
    z-index: -1;
}

.video__right-part-inner {
    position: relative;
    width: 100%;
    max-width: 336px;
    height: 557px;
    margin: 0 auto;
}

.video__right-part-inner .ball {
    position: absolute;
    width: 219px;
    height: 210px;
    filter: blur(20px);
    transform: rotate(-30deg);
    right: -60px;
    top: -50px;
    z-index: -10;
}

.statistics__inner .ball {
    display: none;
}

.courses {
    position: relative;
}

.courses__bg {
    display: none;
}

.courses__bg-mob {
    position: absolute;
    width: 538px;
    height: 512px;
    bottom: -90px;
    right: 0;
    z-index: -1;
}

.form__ball-right,
.form__ball-left {
    display: none;
}

.form__ball-right-mob,
.form__ball-left-mob {
    position: absolute;
    filter: blur(8px);
    z-index: 10;
}

.form__ball-right-mob {
    top: 65px;
    right: -20px;
    width: 63px;
    height: 60px;
}

.form__ball-left-mob {
    left: -30px;
    bottom: -34px;
    width: 107px;
    height: 103px;
}

footer {
    position: relative;
    overflow: hidden;
}

footer .ball {
    position: absolute;
    right: 0;
    bottom: -82px;
    width: 196px;
    height: 188px;
    filter: blur(20px);
    transform: matrix(0.87, -0.5, 0.5, 0.87, 0, 0);
}

.bg-1 {
    position: absolute;
    top: -181px;
    left: -290px;
    max-width: 729px;
    height: 1101px;
    transform: rotate(24.49deg);
    z-index: -1;
}

.bg-2,
.bg-3 {
    display: none;
}

.bg-4,
.bg-5,
.bg-6,
.bg-7 {
    position: absolute;
    max-width: 960px;
    height: 1451px;
    z-index: -1;
}

.bg-4 {
    top: 3300px;
    right: -500px;
    transform: rotate(-36.2deg);

}

.bg-5 {
    right: -412px;
    bottom: -478px;
    transform: rotate(-8.88deg);
}

.bg-6 {
    left: -500px;
    bottom: -600px;
    transform: rotate(-15.91deg);
}

.bg-7 {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    transform: rotate(-75.57deg);
}

.department__container .ball {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 205px;
    height: 197px;
    filter: blur(20px);
    transform: rotate(-30deg);
    z-index: -1;
}

@media screen and (min-width: 425px) {
    .business__video {
        height: 220px;
    }

    .hero__bg-mob {
        right: -65px;
    }

    .courses__bg-mob {
        right: -26px;
    }
}

@media screen and (min-width: 500px) {
    .hero__container-inner .hero__right-part img {
        width: 50%;
    }

    .business__video {
        height: 260px;
    }

    .courses__bg-mob {
        right: -55px;
    }

    .hero__bg-mob {
        top: 259px;
        right: -38px;
    }
}

@media screen and (min-width: 575px) {
    .subjects__wrap {
        display: flex;
        justify-content: space-evenly;
    }

    .subjects__list li {
        width: 258px;
    }

    .subjects__right-part .subjects__list:first-child li:first-child {
        border-top: 1px solid #FFFFFF;
    }

    .business__video {
        height: 300px;
    }

    .courses__bg {
        right: -100px;
    }
}

@media screen and (min-width: 650px) {
    #business .trade__item {
        margin: 0 auto;
    }

    .business__video {
        height: 330px;
    }
}

@media screen and (min-width: 768px) {
    #fashion .form-communication__wrap {
        background: var(--gradient-fashion);
    }

    #business .form-communication__wrap {
        background: var(--gradient-business);
    }

    .profession__item {
        height: 659px;
        margin-bottom: 116px;
    }

    #event .profession__item .profession__item-overlay {
        background: linear-gradient(90deg, #0E0234 28.73%, rgba(0, 0, 0, 0) 91.13%);
    }

    #fashion .profession__item .profession__item-overlay {
        background: linear-gradient(90deg, #231432 28.73%, rgba(0, 0, 0, 0) 91.13%);
    }

    #business .profession__item:first-child .profession__item-overlay {
        background: linear-gradient(90deg, #F4FF2A 28.73%,
                rgba(0, 0, 0, 0) 91.13%);
    }

    #business .profession__item:nth-child(2) .profession__item-overlay {
        background: linear-gradient(90deg, #E737BE 28.73%,
                rgba(0, 0, 0, 0) 91.13%);
    }

    #business .profession__item:nth-child(3) .profession__item-overlay {
        background: linear-gradient(90deg, #42F1CD 28.73%, rgba(0, 0, 0, 0) 91.13%);
    }

    .profession__item-overlay {
        width: 75%;
        padding-left: 60px;
    }

    .profession__item-text {

        padding-bottom: 0;
        align-content: center;
    }

    .profession__title {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .profession__item-text p {

        font-size: 16px;
        line-height: 1.25;
        color: var(--main-light-color);
    }

    #event .profession__item-text .main__btn {
        background: linear-gradient(216.06deg, #D6FFFA 21.07%, #19E7DA 105.09%);
    }

    #business .trade__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #business .trade__item:first-child {
        margin-right: 20px;
    }

    .conditions__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        zoom: 0.8;
    }

    .conditions__item {
        width: 389px;
    }

    .business__video .btn__play {
        width: 75px;
        height: 75px;

    }

    .business__video .btn__play img {
        width: 22px;
        height: 22px;
    }

    .business__video {
        height: 385px;
    }

    .video__aboutus-container {
        padding-bottom: 168px;
    }

    .video__aboutus-container .title__wrap {
        margin-bottom: 67px;
    }

    .reviews__item div {
        margin-bottom: 28px;
    }

    .reviews__container .arrow__btn-list {
        justify-content: center;
    }

    .reviews__item:nth-child(2) {
        margin-bottom: 60px;
    }

    .video__right-part-inner {
        max-width: 408px;
        height: 737px;
    }

    .video__right-part-inner .ball {

        width: 411px;
        height: 394px;

        right: -150px;
        top: -90px;
        z-index: -10;
    }

    .form__ball-right-mob,
    .form__ball-left-mob {
        display: none;
    }

    .form__ball-right,
    .form__ball-left {
        position: absolute;
        display: block;
        z-index: 10;
    }

    .form__ball-right {
        top: 29px;
        right: -58px;
        width: 138px;
        height: 132px;
        transform: matrix(-0.85, -0.53, -0.53, 0.85, 0, 0);
    }

    .form__ball-left {
        left: -97px;
        bottom: -16px;
        width: 224px;
        height: 215px;
        filter: blur(10px);
        transform: rotate(-30deg);

    }

    footer .ball {
        position: absolute;
        width: 634px;
        height: 607px;
        right: -120px;
        bottom: -430px;

    }

    .department__container .ball {
        display: none;
    }

    .hero__bg-mob {
        display: none;
    }

    .hero__bg {
        display: block;
        position: absolute;
        top: 0;
        width: 611px;
        height: 1129px;
        z-index: -1;
        right: 0;
        zoom: 0.6;
    }

    .bg-7 {

        bottom: -300px;

    }
}

@media screen and (min-width: 850px) {
    .business__video {
        height: 430px;
    }

    .hero__bg {
        zoom: 0.8;
    }
}

@media screen and (min-width: 974px) {
    .conditions__list {
        zoom: 0.84;
    }

    .business__video {
        height: 470px;
    }
}


@media screen and (min-width: 1024px) {

    #event .title__label {
        color: var(--main--green-color);
    }

    #fashion .hero .main__btn::after {
        background: #69116B;
    }

    #event .hero__container {
        padding-top: 62px;
        padding-bottom: 155px;
    }

    #fashion .hero__container {
        padding-top: 64px;
        padding-bottom: 121px;
    }

    #business .hero__container {
        padding-top: 82px;
        padding-bottom: 192px;
    }

    .hero__container-inner .hero__right-part img {
        width: 45%;
        right: 140px;
    }

    .specialties__container {
        padding-bottom: 100px;
    }

    .specialties__container .title__wrap {
        margin-bottom: 80px;
    }

    .profession__item-overlay {
        padding-left: 132px;
    }

    .specialties__item .overlay__text {
        padding-right: 48px;
        padding-left: 48px;
        padding-bottom: 60px;
    }

    .specialties__item .overlay__text p {
        font-size: 38px;
        line-height: 1.31;
        margin-bottom: 25px;
    }

    .specialties__item .overlay__text span {
        font-size: 16px;
        line-height: 1.25;
    }

    .subjects__container {
        padding-top: 98px;
        padding-bottom: 200px;
    }

    .subjects__container .title {
        margin-bottom: 85px;
    }

    .subjects__list li:first-child {
        border-top: 1px solid #FFFFFF;
    }

    .subjects__wrap {
        justify-content: space-between;
    }

    .subjects__left-part,
    .subjects__right-part {
        width: 46%;
        display: flex;
        justify-content: space-between;
    }

    .subjects__list {
        width: 258px;
        zoom: 0.8;
    }

    .trade__container {
        padding-bottom: 210px;
    }

    #event .trade__item {
        background: var(--gradient-main);
    }

    #fashion .trade__item {
        background: var(--gradient-fashion);
    }

    #business .trade__item {
        height: 501px;
        zoom: 0.75;
        margin: 0;
    }

    .conditions__container {
        padding-bottom: 216px;
    }

    .conditions__container .title {
        margin-bottom: 58px;
    }

    .conditions__item {
        margin-bottom: 0;
        padding-bottom: 70px;
    }

    .conditions__item span {
        width: 258px;
    }

    #event .conditions__item li {
        color: #9E9C9C;
    }

    .conditions__item .main__btn::after {
        background-color: #370E7A;
        width: 206px;
        height: 30px;
    }

    #business .conditions__item .main__btn::after {
        background-color: #31A590;
    }

    .business__video-container {
        padding-bottom: 108px;
    }

    .business__video {
        height: 520px;
    }

    .reviews__container {
        padding-bottom: 125px;
    }

    .reviews__item p {
        font-size: 13px;
    }

    .reviews__container .arrow__btn-list {
        margin-top: 100px;
    }

    .reviews__item:nth-child(3) {
        margin-bottom: 60px;
    }

    .statistics__inner {
        position: relative;
    }

    .statistics__inner .ball {
        display: block;
        position: absolute;
        width: 174px;
        height: 166px;
        transform: rotate(-32.11deg);
        top: 6px;
        left: -73px;
        zoom: 0.7;
        z-index: 1;
    }

    .form__ball-left {
        left: -109px;
        bottom: 37px;
    }

    .bg-1,
    .bg-2,
    .bg-3 {
        max-width: 960px;
        height: 1451px;

    }

    .bg-1 {
        top: -181px;
        left: -400px;
    }

    .bg-2 {
        display: block;
        position: absolute;
        top: -300px;
        right: -500px;
        transform: rotate(-36.2deg);
        z-index: -1;
    }

    .bg-3 {
        display: block;
        position: absolute;
        left: -672px;
        top: 1114px;
        transform: rotate(-36.2deg);
        z-index: -1;
    }

    .bg-4 {
        top: 3600px;

    }

    .bg-7 {

        bottom: -600px;

    }
}

@media screen and (min-width: 1166px) {
    .hero__container-inner .hero__right-part img {
        width: 40%;
    }

    #business .hero__container-inner .hero__right-part img {
        width: 50%;
        right: 80px;
    }

    .subjects__list {
        zoom: 1;
    }

    #business .trade__item {
        zoom: 0.85;
    }

    .conditions__list {
        zoom: 0.9;
    }

    .business__video {
        height: 600px;
    }

    .statistics__inner .ball {
        zoom: 0.8;
    }
}

@media screen and (min-width: 1240px) {
    .trade__slider .slick-slide > div {
        width: 391px;
        height: 430px;
        margin: 0 auto;
    }

    .trade__item {
        width: 391px;
        height: 430px;
        background: var(--gradient-main);
        border-radius: 25px;
    }

    .business__video {
        height: 642px;
    }

    .statistics__inner .ball {
        zoom: 0.9;
    }
}

@media screen and (min-width: 1270px) {
    #business .trade__item {
        zoom: 1;
    }

    .conditions__list {
        zoom: 1;
    }
}

@media screen and (min-width: 1330px) {
    .specialties__item {
        width: 421px;
        height: 730px;
    }

    .specialties__item img {
        width: 421px;
        height: 730px;

    }

    .specialties__slider .slick-slide > div {
        width: 421px;
        height: 730px;
    }


}


@media screen and (min-width: 1470px) {
    .statistics__inner .ball {
        zoom: 1;
    }

    .courses__bg-mob {
        display: none;
    }

    .courses__bg {
        position: absolute;
        display: block;
        bottom: -300px;
        right: -250px;
        width: 1142px;
        height: 1087px;
        z-index: -1;
    }

    .hero__bg {
        zoom: 1;
    }
}