@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-Light/e-Ukraine-Light.eot);
  src: url(./fonts/e-Ukraine-Light/e-Ukraine-Light.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-Light/e-Ukraine-Light.woff2) format('woff2'),
    url(./fonts/e-Ukraine-Light/e-Ukraine-Light.woff) format('woff'),
    url(./fonts/e-Ukraine-Light/e-Ukraine-Light.ttf) format('truetype'),
    url(./fonts/e-Ukraine-Light/e-Ukraine-Light.svg#e-Ukraine-Light) format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.eot);
  src: url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.woff2) format('woff2'),
    url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.woff) format('woff'),
    url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.ttf) format('truetype'),
    url(./fonts/e-Ukraine-UltraLight/e-Ukraine-UltraLight.svg#e-Ukraine-UltraLight) format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.eot);
  src: url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.woff2) format('woff2'),
    url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.woff) format('woff'),
    url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.ttf) format('truetype'),
    url(./fonts/e-Ukraine-Regular/e-Ukraine-Regular.svg#e-Ukraine-Regular) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.eot);
  src: url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.woff2) format('woff2'),
    url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.woff) format('woff'),
    url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.ttf) format('truetype'),
    url(./fonts/e-Ukraine-Thin/e-Ukraine-Thin.svg#e-Ukraine-Thin) format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.eot);
  src: url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.woff2) format('woff2'),
    url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.woff) format('woff'),
    url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.ttf) format('truetype'),
    url(./fonts/e-Ukraine-Bold/e-Ukraine-Bold.svg#e-Ukraine-Bold) format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: e-Ukraine;
  src: url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.eot);
  src: url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.eot?#iefix) format('embedded-opentype'),
    url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.woff2) format('woff2'),
    url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.woff) format('woff'),
    url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.ttf) format('truetype'),
    url(./fonts/e-Ukraine-Medium/e-Ukraine-Medium.svg#e-Ukraine-Medium) format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-light-color: #ffffff;
  --main-dark-color: #3e2a36;
  --main-violet-color: #390d66;
  --main-light-violet-color: #5a288f;
  --main-gray-color: #9e9c9c;
  --main-dark-gray-color: #514c4c;
  --main--green-color: #31a590;
  --gradient-main: linear-gradient(216.06deg, #74067d 21.07%, #19e7da 105.09%);
  --gradient-card: linear-gradient(0deg, #2abfbf 0%, rgba(255, 255, 255, 0) 60.16%);
  --gradient-form: linear-gradient(90deg, #7462d1 0%, #3de1e2 100%);
  --gradient-form-mob: linear-gradient(175.71deg, #7365d2 27.27%, #46cde0 61.14%);
  --gradient-line-two: linear-gradient(89.68deg, #50067d -1.71%, #19e7da 107.28%);
  --gradient-line-one: linear-gradient(270.08deg, #50067d -35.54%, #61fff6 98.12%);
  --gradient-event-btn: linear-gradient(216.06deg, #ffffff 21.07%, #19e7da 105.09%);
  --gradient-fashion: linear-gradient(90deg, #d162c6 0%, #351396 100%);
  --gradient-fashion-mob: linear-gradient(175.71deg, #CA5FC4 27.27%, #7031A8 61.14%);
  --gradient-fashion-line-two: linear-gradient(89.68deg, #50067d -1.71%, #e3adf5 107.28%);
  --gradient-business: linear-gradient(90deg, #e737be 0%, #42f1cd 100%);
  --gradient-business-mob: linear-gradient(175.71deg, #E737BE 0.87%, #19E7DA 96.51%);
  --gradient-business-line-two: linear-gradient(89.68deg, #42f1cd -1.71%, #f4ff2a 107.28%);
}

*,
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: e-Ukraine;
  font-style: normal;
  margin: 0;
  background-color: #ecf0f3;
}

body.active {
  position: fixed;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1371px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

header.active {
  position: fixed;
  width: 100%;
  background: #eeeeee;
  backdrop-filter: blur(100px);
  z-index: 100;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo img {
  width: 200px;
  height: 23px;
}

.close {
  display: flex;
  width: 98px;
  height: 34px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 10px;
  color: var(--main-light-color);
  border-radius: 10px;
  background: linear-gradient(90deg, #24bbc8 0%, #50067e 100%);
}

.close svg {
  fill: var(--main-light-color);
  width: 18px;
  height: 9px;
  margin-right: 9px;
}

.open {
  display: none;
}

.menu {
  display: none;
}

.menu.active {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #eeeeee;
  backdrop-filter: blur(100px);
}

.menu__container {
  height: calc(100vh - 84px);
  overflow-y: scroll;
  padding-top: 30px;
  padding-bottom: 78px;
}

.menu__btn {
  position: relative;
  z-index: 100;
}

.menu__btn.active .open {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(266.69deg, #50067d 19.09%, #19e7da 107.43%);
}

.menu__btn.active .open svg {
  fill: var(--main-light-color);
  width: 15px;
  height: 15px;
}

.menu__btn.active .close {
  display: none;
}

.base__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-violet-color);
}

.base__text-small {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53;
  color: var(--main-gray-color);
}

.base__text-secondary {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-dark-gray-color);
}

.main__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 248px;
  height: 64px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.btn__color {
  background: var(--gradient-main);
  color: var(--main-light-color);
}

.btn__color:hover,
.btn__play:hover,
.menu__btn:hover .open,
.menu__btn:hover .close {
  background: linear-gradient(16.06deg, #74067d 21.07%, #19e7da 105.09%);

}

.btn__white {
  background-color: var(--main-light-color);
  color: #561086;
}

.btn__white:hover,
.btn__white:focus {
  background: var(--gradient-main);
  color: var(--main-light-color);
}

.main__btn::after {
  content: '';
  position: absolute;
  display: block;
  width: 206px;
  height: 31px;
  background: #7a0e4f;
  filter: blur(25px);
  bottom: -7px;
  border-radius: 50%/50%;
  z-index: -1;
}

.menu__list li {
  width: 100%;
  border-bottom: 1px solid var(--main-violet-color);
}

.menu__list li:hover a,
.menu__list li:focus a {
  justify-content: space-evenly;
  color: #18AAAA;

}

.menu__list li:hover svg,
.menu__list li:focus svg {

  fill: #18AAAA;

}

.menu__list a {
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-violet-color);
}

.menu__list li svg {
  width: 17px;
  height: 13px;
  fill: var(--main-violet-color);
}

.hero__left-part .title__label {

  margin-bottom: 15px;
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: var(--main-violet-color);
  margin-bottom: 30px;
}

.hero .title {
  margin-bottom: 20px;
}

.hero .base__text-secondary {
  margin-bottom: 23px;
  width: 100%;
  max-width: 530px;
}

.hero .main__btn {
  width: 218px;
  height: 56px;
  margin-bottom: 33px;
}

.hero .main__btn::after {
  width: 181px;
  height: 27px;
  background-color: #150810;
}

.hero__right-part img {
  width: 95%;
  max-width: 751px;
  height: auto;
  margin: 0 auto;
}

.statistics__container {
  padding-bottom: 80px;
}

.statistics__slider {
  background: var(--gradient-main);
  padding-top: 51px;
  padding-bottom: 92px;
  border-radius: 25px;
}

.statistics__item {
  padding: 0 8px;
  opacity: 0.5;
}

.statistics__slider .slick-current .statistics__item {
  opacity: 1;
}

.statistics__slider p {
  font-weight: 500;
  font-size: 50px;
  color: var(--main-light-color);
  margin-bottom: 12px;
  text-align: center;
}

.statistics__slider span {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-light-color);
  text-align: center;
}

.statistics__slider .slick-dots {
  bottom: 29px;
}

.statistics__slider .slick-dots li,
.card__video .slick-dots li {
  width: 70px;
  height: 7px;
  margin: 0 3px;
}

.statistics__slider .slick-dots li button,
.card__video .slick-dots li button {
  width: 70px;
  height: 7px;
  padding: 0;
}

.statistics__slider .slick-dots li.slick-active button:before,
.card__video .slick-dots li.slick-active button:before {
  background-color: var(--main-violet-color);
}

.statistics__slider .slick-dots li button:before,
.card__video .slick-dots li button:before {
  content: '';
  width: 70px;
  height: 7px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  opacity: 1;
}

.video {
  position: relative;
}

.video__container {
  padding-bottom: 100px;
}

.video__left-part {
  margin-bottom: 30px;
}

.card__video .slick-dots li button:before {
  background: rgba(203, 203, 203, 0.5);
}

.title__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: var(--main--green-color);
  margin-bottom: 10px;
}

.card__video {
  width: 100%;
  max-width: 336px;
  height: 557px;
  background: var(--main-light-color);
  border-radius: 15px;
  margin: 0 auto;
}

.card__video-item {
  position: relative;
  width: 100%;
  height: 557px;
}

.btn__play {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 71px;
  height: 71px;
  background: var(--gradient-main);
  border-radius: 50%;
}

.btn__play::after {
  content: '';
  position: absolute;
  display: block;
  width: 59px;
  height: 33px;
  background: #7a0e4f;
  filter: blur(25px);
  bottom: -7px;
  border-radius: 50%/50%;
  z-index: -1;
}

.btn__play img {
  width: 21px;
  height: 21px;
}

.card__video .slick-dots {
  top: 19px;
  bottom: unset;
}

.video .ticker {
  width: 100%;
  position: absolute;
  bottom: 200px;
  z-index: -1;
}

.line__one,
.line__two {
  display: flex;
  align-items: center;
  width: 100%;
  height: 26px;

}

.line__one {
  background: linear-gradient(270.08deg, #50067d -35.54%, #61fff6 98.12%);
}

.line__one img {
  width: 81px;
  height: 9px;
  margin: 0 15px;
}

.department__container {
  padding-bottom: 74px;
}

.department__container .title {
  margin-bottom: 30px;
}

.department__list li {
  width: 336px;
  height: 353px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  border: 2px solid var(--main-light-color);
  margin: 0 auto 30px auto;
}

.department__list li:last-child {
  height: 307px;
  background: var(--gradient-main);
  padding: 0;
  margin-bottom: 0;
  border: 0;
}

.department__content {
  margin-top: 40px;
  padding: 0 40px 64px 40px;
}

.department__list img {
  width: 65%;
  height: 12px;
  object-fit: cover;
  border-radius: 7.5px;
  margin: -2px auto 0 auto;
}

.department__list p {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;
  color: var(--main-dark-color);
  margin-bottom: 20px;
}

.department__list li:last-child p {
  color: var(--main-light-color);
  text-align: center;
  padding-top: 65px;
  margin-bottom: 40px;
}

.department__list .base__text-secondary {
  margin-bottom: 30px;
}

.department__list li:last-child .main__btn {
  margin: 0 auto;
}

.arrow__btn-list {
  display: flex;
}

.arrow__btn-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 77px;
  height: 77px;
  background-color: var(--main-light-color);
  border-radius: 15px;
}

.arrow__btn-list li:first-child {
  margin-right: 8px;
}

.arrow__btn svg {
  fill: #4E1182;
}

.arrow__btn-list li:hover,
.arrow__btn-list li:focus {
  background: var(--gradient-main);
}

.arrow__btn-list li:hover .arrow__btn svg,
.arrow__btn-list li:focus .arrow__btn svg {
  fill: var(--main-light-color);
}

.graduates__container {
  padding-bottom: 105px;
}

.graduates__container .title__wrap {
  margin-bottom: 38px;
}

.graduates__item {
  max-width: 341px;
  height: 412px;
  position: relative;
  background-image: url(./images/card-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


.graduates__item img {
  width: 341px;
  height: 412px;
  object-fit: cover;
  object-position: center;
}

.overlay {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 101%;
  transform: translateY(0);
  background: var(--gradient-card);
  border-radius: 15px;
}

.overlay__text {
  position: absolute;
  bottom: 20px;
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
}

.overlay__text p {
  font-weight: 700;
  font-size: 20px;
  color: var(--main-light-violet-color);
  margin-bottom: 18px;
}

.overlay__text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-light-color);
}

.graduates__item-registration {
  display: none;
}

.graduates__slider .slick-dots {
  bottom: -85px;
}

.ticker__section {
  position: relative;
  height: 106px;
}

.ticker__section .line__one,
.ticker__section .line__two {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.line__two {
  background: var(--gradient-line-two);
  z-index: -1;
}

.partners {
  padding-top: 31px;
  padding-bottom: 80px;
}

.partners__line {
  display: flex;
  height: 55px;

}

.partners__line img {
  margin: 0 8px;
}

.preview__container {
  padding-bottom: 53px;
}

.preview__container .title__wrap {
  margin-bottom: 25px;
}

.preview__slider .slick-slide > div {
  width: 310px;
  height: 284px;
}

.preview__item {
  width: 310px;
  height: 284px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  border: 2px solid var(--main-light-color);
  padding-left: 48px;
  padding: 52px 49px 20px 48px;
  margin: 0 5px;
}

.preview__item span {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--main--green-color);
  margin-bottom: 25px;
}

.preview__item p {
  font-weight: 400;
  font-size: 18px;
  color: var(--main-violet-color);
  margin-bottom: 25px;
}

.courses__container {
  padding-bottom: 42px;
}

.courses__container .title__wrap {
  margin-bottom: 35px;
}

.courses__left-part {
  margin-bottom: 27px;

}

.courses__left-part-list li {
  display: block;
  width: 298px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: var(--main-violet-color);
  border-bottom: 1px solid #2AA0BE;
}

.courses__left-part-list li:first-child {
  border-top: 1px solid #2AA0BE;
}

.menu__list li:hover,
.menu__list li:focus,
.courses__left-part-list li:hover,
.courses__left-part-list li:focus {
  background: linear-gradient(358.9deg, #2ABFBF 0.94%, rgba(255, 255, 255, 0) 99.06%);
}

.courses__left-part-list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.courses__left-part .main__btn {
  margin: 40px auto 76px auto;
}

.courses__slider .slick-slide > div {
  width: 303px !important;
  margin: 0 auto;
}

.courses__item {
  width: 303px !important;
  height: 433px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
  border-radius: 30px;
  border: 2px solid var(--main-light-color);
  padding: 30px;
  margin-bottom: 27px;
}


.courses__icon-star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  border-radius: 15px;
  background-color: var(--main-light-color);
  margin: 0 auto;
}

.courses__icon-star img {
  width: 26px;
  height: 26px;
}

.courses__title {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: var(--main-violet-color);
  text-align: center;
  margin-top: 12px;
  margin-bottom: 18px;
}

.courses__video {
  position: relative;
  width: 243px;
  height: 139px;
  border-radius: 15px;
  background-color: var(--main-light-color);
  margin-bottom: 18px;
}

.courses__item .btn__play {
  width: 48px;
  height: 48px;
}

.courses__item .btn__play img {
  width: 14px;
  height: 14px;
}

.courses__item .base__text-small {
  margin-bottom: 18px;
}

.news__slider .slick-dots,
.direction__slider .slick-dots {
  bottom: -50px;
}

.graduates__slider .slick-dots li,
.news__slider .slick-dots li,
.direction__slider .slick-dots li {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.graduates__slider .slick-dots li button,
.news__slider .slick-dots li button,
.direction__slider .slick-dots li button {
  width: 0;
  height: 0;
  padding: 0;
}

.graduates__slider .slick-dots li button:before,
.news__slider .slick-dots li button:before,
.direction__slider .slick-dots li button:before {
  content: '';
  font-size: 0;
  line-height: 0;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: var(--main-light-color);
  border-radius: 50%;
  opacity: 1;
}

.graduates__slider .slick-dots li.slick-active button:before,
.news__slider .slick-dots li.slick-active button:before,
.direction__slider .slick-dots li.slick-active button:before {
  opacity: 1;
  width: 10px;
  height: 10px;
  background-color: var(--main-light-violet-color);
  border: 5px solid var(--main-light-color);
}

.btn__registration {
  font-weight: 500;
  font-size: 15px;
  color: var(--main-violet-color);
}

.btn__registration:hover,
.btn__registration:focus {
  color:
    #74067d;

}

.news__container {
  padding-bottom: 116px;
}

.news__container .title__wrap {
  margin-bottom: 32px;
}

.news__item {
  position: relative;
  width: 303px;
  height: 607px;
  background-color: var(--main-light-color);
  border-radius: 15px;
  padding: 41px 38px 10px 38px;
  z-index: -2;
  margin: 0 auto;
}

.news__left-part {
  display: none;
}

.news__right-part span {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  color: var(--main--green-color);
  margin-bottom: 20px;
}

.news__right-part p {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.13;
  color: var(--main-violet-color);
  margin-bottom: 13px;
}

.news__right-part img {
  width: 227px;
  height: 217px;
  object-fit: cover;
  margin-bottom: 22px;
}

.news__right-part .base__text-small {
  margin-bottom: 30px;
}

.news__right-part .main__btn {
  width: 227px;
  height: 59px;
}

.news__right-part .main__btn::after {
  width: 189px;
  height: 28px;
}

.direction__container {
  padding-bottom: 116px;
}

.direction__container .title__wrap {
  margin-bottom: 32px;
}

.form-communication__wrap {
  position: relative;
  background: var(--gradient-form-mob);
  border-radius: 10px;
  padding: 48px 37px 117px 37px;
}

.form__bottom-label {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 85%;
  height: 23px;
  bottom: -13px;
  object-fit: cover;
  border-radius: 7.5px;
}

.form-communication {
  padding-bottom: 62px;
}


.form-communication-left-part .logo {
  display: block;
  margin-bottom: 31px;
}

.form-communication-left-part p {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.04;
  color: var(--main-light-color);
  margin-bottom: 47px;
}

.form-communication-right-part input {
  height: 32px;
}

.form-communication-right-part input,
.form-communication-right-part textarea {
  width: 100%;
  background-color: unset;
  border: 0;
  border-bottom: 1px solid;
  margin-bottom: 23px;
}

.form-communication-right-part input,
.form-communication-right-part textarea {
  border-color: #f4f4f4;
  color: var(--main-light-color);
}

.form-communication-right-part input:focus,
.form-communication-right-part textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--main-light-violet-color);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.form-communication-right-part ::placeholder {
  color: var(--main-light-color);
}

.form__btn {
  position: relative;
  z-index: 10;
}

.form-communication-right-part .main__btn {
  border: 0;
  margin: 0 auto;
}

.footer__top,
.footer__bottom {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(100px);
}

.footer__top-container {
  padding-top: 40px;
  padding-bottom: 55px;
}

.footer__container {
  margin-bottom: 55px;
}

.footer__container:last-child {
  margin-bottom: 0;
}

.footer__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-violet-color);
  margin-bottom: 33px;
}

.footer__title span {
  font-weight: 400;
}

.footer__contact-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
}

.footer__contact-list li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 25px;
}

.footer__contact-list li:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.footer__contact-list li img {
  width: 18px;
  height: 18px;
  margin-right: 19px;
}

.footer__contact-list li span {
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
  color: var(--main-violet-color);
  padding-left: 19px;
}

.footer__contact-list li span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 1px;
  margin-right: 19px;
  background-color: #B8B8B8;
}

.footer__contact-list li:nth-child(2) span:before {
  height: 18px;
  width: 1px;
}

.footer__social-list {
  display: flex;
}

.footer__social-list li {
  margin-right: 13px;
}

.footer__social-list img {
  width: 22px;
  height: 22px;
}

.footer__bottom-container {
  margin-bottom: 43px;


}

.copyright {
  width: 70%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--main-violet-color);
}

.developer {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  margin-bottom: 25px;

}

.developer img {
  width: 102px;
  height: 23px;
  margin-left: 11px;

}

.privacy-policy__btn {
  display: block;
  font-weight: 400;
  font-size: 10px;
  text-decoration: underline;
  color: var(--main-violet-color);
  margin-bottom: 22px;
}

.footer__bottom-color {
  height: 5px;
  background-image: linear-gradient(89.98deg, #50067D 18.6%, #19E7DA 71.98%);
  backdrop-filter: blur(100px);
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  .menu__container {
    height: calc(100vh - 124px);
  }

  .logo img {
    width: 378px;
    height: 46px;
  }

  .close {
    width: 152px;
    height: 48px;
    font-size: 16px;
  }

  .close svg {
    width: 28px;
    height: 14px;
    margin-right: 14px;
  }

  .menu__btn.active .open {
    width: 48px;
    height: 48px;
  }

  .menu__btn.active .open img {
    width: 22px;
    height: 22px;
  }


  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__list li {
    width: 47%;
    max-width: 536px;
  }

  .card__video {
    max-width: 408px;
    height: 737px;
  }

  .card__video-item {
    height: 737px;
  }

  .line__one,
  .line__two {
    height: 105px;
  }

  .line__one img {
    width: 361px;
    height: 46px;
    margin: 0 48px;
  }

  .partners {
    padding-bottom: 180px;
  }

  .partners__line {
    height: 130px;

  }

  .partners__line img {
    margin: 0 20px;
  }

  .department__list li:last-child {
    height: 353px;
  }

  .department__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .department__list li:last-child p {
    margin-bottom: 66px;
  }

  .department__list li:nth-child(3) {
    margin-bottom: 0;
  }

  .title__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .preview__container .title__wrap {
    margin-bottom: 61px;
  }

  .preview__item {
    margin-right: 9px;
    margin-left: 9px;
  }

  .ticker__section {
    height: 448px;
  }

  .courses__wrap {
    display: flex;
  }

  .courses__left-part {
    width: 258px;
    margin-bottom: 0;
  }

  .courses__right-part {
    width: 70%;
    /* max-width: 1073px; */
    padding-left: 75px;
  }

  .news__item {
    width: 712px;
    height: 512px;
    padding-top: 45px;
    padding-left: 46px;
  }

  .news__right-part span {
    margin-bottom: 25px;
  }

  .news__right-part p {
    font-size: 26px;
    margin-bottom: 17px;
  }

  .news__right-part img {
    width: 600px;
    margin-bottom: 28px;
  }

  .news__right-part .main__btn {
    width: 248px;
    height: 64px;
  }

  .news__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .news__right-part .base__text-small {
    width: 334px;
    margin-bottom: 0;
  }

  .form-communication__wrap {
    background: var(--gradient-form);
  }

  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__container {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {

  .hero__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 136px;
  }

  .hero__left-part {
    width: 44%;
  }

  .hero__left-part span {
    margin-bottom: 10px;
  }

  .hero__right-part img {
    width: 62%;
    position: absolute;
    right: 30px;
    bottom: 0;
  }

  .statistics__container {
    padding-bottom: 207px;
  }

  .statistics__slider {

    display: flex;
    justify-content: space-evenly;
    padding: 99px 0;
  }

  .statistics__item {
    border-right: 1px solid #FFFFFF;
    opacity: 1;
    padding-right: 35px;
  }

  .statistics__item:last-child {
    border: 0;
    padding: 0;
  }

  .title__label {
    font-size: 16px;
  }

  .video__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .video__left-part {
    width: 30%;
    padding-top: 75px;
  }

  .video__right-part {
    width: 60%;
  }

  .department__container {
    padding-bottom: 115px;
  }

  .department__list {
    margin-right: -20px;
    margin-bottom: -20px;
  }

  .department__list li {
    max-width: 642px;
    height: 438px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-basis: calc((100% - 2 * 20px) / 2);
  }

  .department__list li:last-child {
    height: 438px;
  }

  .department__content {
    margin-top: 55px;
    padding: 0 100px 0 60px;
  }

  .department__list img {
    height: 15px;
  }

  .department__list p {
    margin-bottom: 40px;
  }

  .department__list li:last-child p {
    padding-top: 100px;
  }

  .department__list .base__text-secondary {
    margin-bottom: 50px;
  }

  .graduates__item {
    max-width: 421px;
    height: 512px;
    zoom: 0.75;
  }

  .graduates__item:nth-child(-n+3) {
    margin-bottom: 34px;
  }

  .graduates__item img {
    width: 100%;
    max-width: 421px;
    height: 512px;
  }

  .graduates__item:hover .overlay,
  .graduates__item:focus .overlay {
    display: block;
    transform: translateY(0);
  }

  .overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 101%;
    transform: translateY(0);
    transform: translateY(100%);
    background: var(--gradient-card);
    border-radius: 15px;
  }

  .overlay__text {
    padding-right: 67px;
    padding-left: 67px;
  }

  .graduates__item-registration {
    display: block;
    max-width: 421px;
    height: 512px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    border-radius: 30px;
    border: 2px solid var(--main-light-color);
    zoom: 0.75;
  }

  .graduates__item-registration span {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: var(--main-dark-color);
    margin-top: 160px;
    margin-bottom: 30px;
    text-align: center;
  }

  .graduates__item-registration .main__btn {
    width: 251px;
    height: 65px;
    margin: 0 auto;
  }

  .partners {
    padding-top: 120px;
    padding-bottom: 192px;

  }

  .preview__container {
    padding-bottom: 192px;
  }

  .courses__container {
    padding-bottom: 153px;
  }

  .courses__item {
    margin-bottom: 0;
  }

  .news__container {
    padding-bottom: 159px;
  }

  .direction__container {
    padding-bottom: 221px;
  }

  .form-communication {
    padding-bottom: 181px;
  }

  .form-communication__wrap {
    zoom: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 76px 140px 82px 112px;
  }

  .form-communication-right-part {
    max-width: 467px;
  }

  .form-communication-left-part .logo {
    margin-bottom: 59px;
  }

  .form-communication-left-part p {
    font-size: 50px;
  }

  .footer__top-container {
    padding-top: 55px;
    padding-bottom: 62px;
  }

  .footer__container {
    width: 31%;
    margin-bottom: 0;
  }

  .footer__bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .footer__bottom-container div {
    width: 30%;
  }

  .privacy-policy__btn,
  .developer {
    margin-bottom: 0;
  }

  .privacy-policy__btn {
    display: flex;
    justify-content: flex-end;
  }

  .developer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1100px) {
  .statistics__item {
    padding-right: 50px;
  }
}

@media screen and (min-width: 1180px) {

  .graduates__item,
  .graduates__item-registration {
    zoom: 0.87;
  }

  .form-communication__wrap {
    zoom: 0.9;
  }
}

@media screen and (min-width: 1200px) {
  .statistics__item {
    padding-right: 55px;
  }
}

@media screen and (min-width: 1330px) {

  .title {
    font-size: 50px;
    line-height: 1.2;
  }

  .hero .title {
    margin-bottom: 30px;
  }

  .base__text-secondary {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.56;
    color: var(--main-dark-gray-color);
  }

  .hero .base__text-secondary {
    margin-bottom: 23px;
  }

  .base__text {
    font-size: 22px;
    line-height: 1.36;
  }

  .hero .main__btn {
    width: 248px;
    height: 64px;
  }

  .hero .main__btn::after {
    width: 206px;
    height: 31px;
    background: #7a0e4f;
  }

  .hero__left-part {
    width: 55%;
  }

  .statistics__item {
    padding-right: 77px;
  }

  .video__left-part {
    width: 36%;
  }

  .department__container .title {
    margin-bottom: 60px;
  }

  .department__list p {
    font-size: 45px;
    line-height: 1, 11;
  }

  .graduates__item,
  .graduates__item-registration {
    zoom: 1;
  }

  .courses__left-part li {
    width: 258px;
  }

  .courses__right-part {
    width: 80%;

  }

  .news__slider {
    display: flex;
    justify-content: space-between;
  }

  .news__item-inner .news__item {
    display: flex;
    align-items: center;
    width: 569px;
    height: 247px;
    padding: 22px 10px 22px 26px;

  }

  .news__item-inner .news__item:first-child {
    margin-bottom: 18px;
  }

  .news__item-inner .news__left-part {
    width: 51%;
    display: block;
    margin-right: 24px;
  }

  .news__item-inner .news__left-part img {
    width: 190px;
    height: 203px;
    object-fit: cover;
  }

  .news__item-inner span {
    margin-bottom: 17px;
  }

  .news__item-inner p {
    font-size: 23px;
    margin-bottom: 19px;
  }

  .news__item-inner .news__right-part img {
    display: none;
  }

  .news__item-inner .base__text-small {
    display: none;
  }

  .form-communication__wrap {
    zoom: 1;
  }
}

@media screen and (min-width:1440px) {
  .menu__container {
    padding-top: 110px;
    padding-bottom: 380px;
    overflow-y: hidden;
  }

  .menu__list li {
    font-size: 30px;
  }

  .menu__list a {
    height: 111px;
  }
}